language: python
python:
  - "2.7"
addons:
  apt:
    sources:
      - deadsnakes
    packages:
      - python3.5
install:
  - pip install tox
env:
  - TOX_ENV=py26
  - TOX_ENV=py27
  - TOX_ENV=py33
  - TOX_ENV=py34
  - TOX_ENV=py35
    #- TOX_ENV=pypy
    #- TOX_ENV=pypy3
  - TOX_ENV=flake8
script:
  - tox -e $TOX_ENV
services:
  - mongodb
before-script:
  # Timer: https://docs.travis-ci.com/user/database-setup/#MongoDB-does-not-immediately-accept-connections
  - sleep 15
  - mongo eve_swagger_test --eval 'db.addUser("test_user", "test_pw");'
